.footer{
    @extend .container-fluid;
    height: 60px;

    &__wrapper{
      height: 60px;
      padding: 20px 0;

    }
    &__copyright{
      padding: 1px 0 2px 0px;
      letter-spacing: 0px;
    }
    &__template{
      text-align: right;
    }
}
