.navigation{
      @extend .container;
      height: 60px;
      @extend .align-middle;
      padding: 0;

      &__block{
        padding: 0;
        margin: 0;
      }

      &__list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 60px;
        align-items: center;
        justify-content: flex-start;
        margin: 0;
        padding: 3px 0 0 0;
      }

      &__item{
        list-style: none;
      }
      &__link{
        display: block;

      }
}
