.header{
  height: 190px;
  padding: 5px 0;
  @extend .container-fluid;

  &__wrapper{
    height: 125px;
    @extend .container-fluid;
    align-items: center;
    display: flex;
  }
  &__inner{
    padding: 0;
  }
  &__logo-block{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 0px 0 0 14px;

  }
  &__logo{
    display: inline-block;
    padding: 0 0px 0 0px;
    width: 180px;
    margin: 0 1px 0 -3px;

    &-title{
      font-size: 45px;
      margin: 0;
      letter-spacing: 0.8px;
      font-weight: 500;
      font-family: 'Georgia', serif;
    }
  }
  &__divider{
    width: 1px;
    height: 26px;
    margin: 6px 0px 0 -3px;
    border-left: 1px solid $slogan__font--color;
  }
  &__slogan{
    padding: 11px 2px 0px 6px;
    width: 135px;


    &-part{
      display: block;
      font-size: 12px;
      letter-spacing: -0.3px;
      padding: 0 0 0px 0;
      margin: -2px 0 0 0;
      font-weight: 300;
    }
  }
  &__search{

    padding: 0 13px 0 0;
    margin-right: 2px;

    &-form{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: stretch;
      height: 36px;
    }
    &-input{
      flex-grow: 2;
      border: 1px solid #dddddd;
      padding: 5px 3px 3px 8px;
      color: $nav__bgc--color;
      font-size: 12px;
      font-weight: 300;
      width: 211px;

      &::placeholder {
        color: $nav__bgc--color;
        font-family: 'Martel', serif;
        letter-spacing: 0.52px;
        font-weight: 300;
        font-size: 11px;
        padding: 0 0 0 1px;
        margin: 0 0 0 -3px;
      }
    }
    &-button{
      flex-grow: 1;
      padding: 7px 0px 3px 0px;
      margin: 0 0 0 0px;
      letter-spacing: 0.5px;

    }
  }
}
.header__logo-title b{
  font-weight: 500;
  font-variant: small-caps;
  font-size: 35px;
}
