.info{
  padding: 29px 0 24px;

}
.events{

  &__title{
    //padding-bottom: 11px;
  }
}
.event_item{
  padding-top: 11px;
  padding-bottom: 0px;
  margin-bottom: -4px;

  &__link{

  }
  &__date{
    padding-top: 4px;
    letter-spacing: 0px;
    margin-bottom: 4px;
  }
  &__desc{
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.3px;
  }
}
.video{

  &__title{
    padding: 0 0 13px 1px;
    letter-spacing: 0.5px;
  }
  &__desc{
    padding: 8px 0 0 0;
    font-size: 14px;
    line-height: 18.5px;
    margin-bottom: 10px;
    letter-spacing: -0.8px;
  }
  &__film{
    height: 235px;
    width: 100%;
  }
}
