.header{

  &__logo{

  }
  &__name{
    margin-bottom: 0px;
  }
  &__slogan{
    margin-top: 0;
  }
  &__nav{
  /*  width: 615px;
    height: 55px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    position: relative;*/
  }
}
