.navigation__link--theme{
  color:$nav__font--color;
  font-size: 0.85rem;
  letter-spacing: -0.74px;
  font-weight: 400;
  padding: 16px 15.8px 14px 14px;
  text-decoration: none;
  transition: ease-in-out 0.4s;


  &:hover{
    color: $nav__font--hover;
    text-decoration: none;
    transition: ease-in-out 0.4s;
  }
}
.link--more{
  color: $more__font--color;
  font-size: 13px;
  letter-spacing: -0.2px;
  padding: 0px 0 0 0px;
  margin-left: -1px;
}
@media (max-width: 960px) {
   .navigation__link--theme{
     font-size: 0.65rem;
     padding: 16px 7px 14px 7px;
   }
  }
@media (max-width: 720px) {
  .navigation__link--theme{
    font-size: 0.65rem;
    padding: 16px 6px 14px 6px;
    }
 }
@media (max-width: 540px) {
  .navigation__link--theme{
    font-size: 0.65rem;
    padding: 16px 3px 14px 3px;
    }
}
