.body--theme{
  background-color: $body__bgc--color;
  color: $body__font--color;
}
.header--theme{
  background-color: $nav__bgc--color;
}
.header__wrapper--theme{
  background-color: $body__bgc--color;
}
.header__logo-title--theme{
  color: $header__font--color;
}
.header__slogan-part--theme{
  color: $slogan__font--color;
}
.button--search{
  border: $nav__bgc--color;
  background-color: $nav__bgc--color;
  color: $nav__font--color;
  font-size: 11px;
}
.navigation--theme{

}
.title--theme{
  font-size: 14px;
  color: $header__font--color;
  font-weight: 300;
  letter-spacing: 0.3px;
}
.item--theme{
  font-size: 13px;
  color: $body__font--color;
}
.border-top__big--theme{
    border-top: 1.5px solid $border--color;
}
.border-top__small--theme{
    border-top: 1px solid $border--color;
}
.footer--theme{
    background-color: $border--color;
    color: $slogan__font--color;
    font-size: 13px;
}
