$body__bgc--color: #ffffff;
$body__font--color: #979797;
$header__font--color: #333333;
$slogan__font--color: #999999;
$search__font--color: #7f7f7f;
$nav__bgc--color: #3b7a9d;
$nav__font--color: #ffffff;
$nav__font--hover:#cccccc;
$more__font--color:#3b7a9d;
