$header__bgc--color: #;
$header__font--color: #;
$nav__bgc--color: #;
$nav__font--color: #;
$nav__font--hover:#;
$main__bgc--color: #;
$main__font--color:#;
$more__font--color:#;
$info__font--color:#;
$button__gr__top--color:#;
$button__gr__bot--color:#;
$button__bord--color: #;
$social__bgc--color: #;
$posted__font--color:#;
$info__bgc--color:#;
