$header__bgc--color: #ffffff;
$header__font--color: #505050;
$nav__bgc--color: #303030;
$nav__font--color: #ffffff;
$nav__font--hover:#bdbdbf;
$main__bgc--color: #e2e2e2;
$main__font--color:#666666;
$more__font--color:#ff5d30;
$info__font--color:#989898;
$button__gr__top--color:#f5f5f5;
$button__gr__bot--color:#dadada;
$button__bord--color: #d1d1d1;
$social__bgc--color: #333333;
$posted__font--color:#757575;
$info__bgc--color:#ededed;
