.personal{

  &__title{

  }
  &__item{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 14px 0 16px;
  }
  &__img-block{
    padding: 4px;
    width: 90px;
    height: 90px;
    border: 1px solid $border--color;
  }
  &__img{

  }
  &__info-block{
    padding: 0 0 0 9px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

  }
  &__name{
    font-weight: bold;
    margin: 0;
    font-size: 13px;
    letter-spacing: 0.7px;
    padding: 4px 0 0 0;
  }
  &__desc{
    margin: 0;
    font-size: 13px;
    padding: 3px 4px 1px 0px;
    font-weight: 300;
    letter-spacing: -0.1px;
  }
  &__link{
    font-size: 14px;
    padding: 0 0 2px 1px;
    letter-spacing: -0.6px;
    font-weight: 300;
  }
}
